version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: my-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mqttbroker
    ports:
      - "5433:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
